* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Red Hat Text', sans-serif;
  overflow: hidden;
}

body {
  //border: solid 1px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  header {
    margin-top: auto;
  }

  footer {
    margin-top: auto;
    display: inline-flex;
    align-items: flex-end;
    justify-content: center;
  }
}