body{
  background: linear-gradient(var(--very-dark-mostly-black-blue), var(--very-dark-blue));

  position: relative;
  
  .background-sky {
    position: absolute;
    top: 0;

    img {
      height: 100vh;
      animation: pulse 1.5s infinite alternate;
    }
  }

  @keyframes pulse {
    0% {
      opacity: 0.3;
    }
    100% {
      opacity: 1;
    }
  }
  .background-montain {
    position: absolute;
    bottom: -.3rem;
    width: 100vw;
    background-repeat: repeat-y;
    z-index: 0;

    img {
      width: 100%;
      max-height: 10rem;
    }
  }
}